@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@font-face {
	font-family: 'Royal';
	src: url('royal.ttf');
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

main {
    width: 100vw;
    height: calc(100vh - 75px);
    background-image: url('game.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    position: fixed;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.phrase {
    max-width: 250px;
    width: fit-content;
    padding: 10px 10px 2px 10px;
    margin: 5px 5px;
    font-family: 'Special Elite', 'Royal', cursive;
    text-align: left;
    border-radius: 10px;
    opacity: 0.75;
}

.question-bubble {
    background-color: #fff7c8;
    float: right;
    clear: right;
}

.answer-bubble {
    background-color: ghostwhite;
    clear: right;
}

.phrase p {
    margin: 4px 0;
    font-size: 16px;
    text-align: left;
    word-break: break-word;
}

.meta,
.person {
    font-size: 10px;
    font-weight: bold;
    color: #404040;
    align-content: flex-start;
}

.person {
    padding-bottom: 2px;
}

footer {
    width: 100vw;
    height: 75px;
    top: calc(100vh - 75px);
    left: 0;
    position: fixed;
    text-align: center;
    background-color: whitesmoke;
    opacity: 0.75;
}

footer #answer-field {
    resize: none;
    width: 360px;
    height: fit-content;
    overflow-y: scroll;
    min-height: 25px;
    max-height: 65px;
    font-family: 'Special Elite', 'Royal', cursive;
    font-size: 18px;
    border: 2px solid dimgrey;
    border-radius: 15px;
    padding: 2px 20px;
    float: left;
    margin: 15px 5.5px;
}

footer #send-icon {
    display: none;
    width: 30px;
    height: 44px;
    margin: 15.5px 5px;
    float: right;
    background-image: url('active.png');
    background-size: contain;
    background-repeat: no-repeat;
}

footer #send-icon:hover {
    background-image: url('hover.png');
}